<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gdl">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/godutchleh"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GDL">
        <activity android:name=".HomePage"
            android:label="Home Page">
        </activity>
        <activity
            android:name=".createeventpg.CreateEventMain"
            android:label="@string/createEventPgName">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomePage" />
        </activity>
        <activity
            android:name=".eventlistpg.EventListActivity"
            android:label="@string/myEventsPgName">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomePage" />
        </activity>
        <activity
            android:name=".eventdetailspg.EventActivity"
            android:label="@string/eventDetailsPgName">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".eventlistpg.EventListActivity" />
        </activity>
        <activity
            android:name=".JoinEventActivity"
            android:label="@string/joinEventPgName">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomePage" />
        </activity>
        <activity
            android:name=".AddFriendPage"
            android:label="@string/addFriendPgName">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomePage" />
        </activity>
        <activity
            android:name=".myfriendspg.FriendListPage"
            android:label="@string/myFriendsPgName">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomePage" />
        </activity>
        <activity
            android:name=".createeventpg.CreateEventSelectMembers"
            android:label="@string/createEventSelectMembersPgName">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".createeventpg.CreateEventMain" />
        </activity>
        <activity
            android:name=".addbillspg.AddBillActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".LoginActivity"
            android:label="@string/loginPgName">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignInActivity"
            android:label="Sign-in">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>